/*============= MOBILE FIRST ========*/

.content-area,
.site-content .widget-area {
	padding: 5%;
}

.site-content {
	background: $color__background-content;
}

/*============= TABLETS & DESKTOP ========*/

@media screen and (min-width: #{$breakpoint_tablet}) {
	
  .site-content {border: 1px solid rgba(100, 100, 140, 0.5);margin: 20px auto 0;}		
  
  .content-area,
  .site-content .widget-area {
	  padding: 0;
  }
    
  .content-area {
  	@include span (8 of 12);
  }
  
  .page-template-homepage .site-content,
  .page-template-fullpage .site-content {
	max-width: none;
	margin: 0;
	margin-top: 20px;

	  .content-area {
	  	@include span (full);
	  } 	  
   }  
  
  .site-content .widget-area {
  	overflow: hidden;
  	padding: 10px 3% 0;
  }

  .site-footer {
  	clear: both;
  	width: $size_site-main;
  }
}
