.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-header {}

.entry-title {margin-bottom:0;color:crimson;}
.entry-meta {display:flex;flex-direction:column;font-size:80%;text-transform: uppercase;font-style:italic;}
.posted-on {}
.byline {text-transform: lowercase; margin-left:10px; padding-bottom: 3px;border-bottom: 1px solid crimson;
	&:before {content: "@";}
}
.entry-date {}
.author {
	 a {color:crimson;text-decoration:none;text-transform: uppercase;}

}
